.header{
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .logocontainer {
  display: flex;
  align-items: center;
}

.logocontainer h2{
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}


.actionContainer{
  display: flex;
  align-items: center;
}

.action{
  font-weight: 400;
  color: #333;
  font-size: 16px ;
  margin: 4px 16px;
}


.cta{
  display: flex;
  align-items: center;
}

.cta h3{
  font-size: 16px;
  font-weight: 500;
  color: darkblue;
  margin-right: 10px;
}

.cta span{
  border: 1px solid darkblue;
  padding: 7px 12px;
  border-radius: 35px;
}